spring:
  application:
    name: CONFIG-SERVER

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
cloud:
    config:
      server:
        git:
          uri: https://github.com/abdelghaffarnoss16/APPLICATION-CONFIG