job-service:
  url: http://job:8082

company-service:
  url: http://company:8081

review-service:
  url: http://review:8083

server:
  port: 8083
spring:
  application:
    name: REVIEW-SERVICE
  datasource:
    url: jdbc:postgresql://postgres:5432/review
    username: abdelghaffar
    password: abdelghaffar
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
eureka:
  client:
    service-url:
      defaultZone: http://serviceregistry:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
management:
  tracing:
    sampling:
      probability: 1.0   
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

  endpoints:
    web:
      exposure:
        include: "*"
